/* RESPONSIVE BREAKPOINT */
@media screen and (max-width: 1100px ) {

    #beranda{
        flex-direction: column;
    }
}


@media screen and (max-width: 800px ) {

    #navigation{
        margin-right: 1rem !important;
        margin-left: 7rem !important;
    }

    #content .md-stepper-horizontal{
        transform: scale(0.8);
    }

    #content{
        margin-right: 1rem !important;
        margin-left: 7rem !important;
        padding: 0;
    }

    #content table{
        font-size: small;
        padding: 0 !important;
    }

    #content form{
        padding: 1rem !important;
    }

    #content .form-row.radio{
        width: 70%;
    }

    #beranda{
        padding: 2rem;
    }

    .box-form{
        font-size: small;
        width: 100%;
    }

    #beranda img{
        width: 50vw;
    }

    #rapor-form .form-row{
        justify-content: space-between;
        align-items: center;
    }

    #persyaratan {
        padding: 1rem;
    }

    #persyaratan form{
        padding: 0 0 !important;
        max-width: 90% !important;
    }

    /* #model1{
        display: none;
    }
    #model2{
        display: flex;
        width: 100%;
    } */

}

@media screen and (max-width: 500px ) {
    .md-stepper-horizontal{
        transform: scale(0.8);
        margin: 0;
    }

    .mini-sidebar{
        left: -5rem !important;
    }

    #content{
        margin: -5.2rem 0 !important;
        width: 100vw;
        padding: 0;
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
    }

    #content input, #content select{
        border: 1px solid gray;
        padding: 5px;
        border-radius: 5px;
    }

    #persyaratan  tbody{
        width: 100% !important;
    }

    #persyaratan 

    #beranda img{
        width: 70vw;
    }

    #persyaratan {
        padding: 1rem;
    }

    #sertifikat table td{
        padding: 2rem 2px !important;
    }

    #sertifikat table td:nth-child(1){
        border-right: 2px solid #23adaf;
    }

    #navigation h4{
        margin-left: -100px;
    }
}