@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@300;500&display=swap');


/* pengumuman kelulusan */

#pengumuman{
    padding: 1rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}


#pengumuman section{
    background-color: aliceblue;
    padding: 1.5rem;
    min-height: 8rem;
}

#pengumuman #lolos-adm{
    padding: 0.5rem;
    background-color: rgb(0, 206, 0);
    color: aliceblue;
}

#pengumuman #tidak-lolos-adm{
    padding: 0.5rem;
    background-color: rgb(206, 7, 0);
    color: aliceblue;
}